html,
body {
    margin: 0%;
    height: 100%;
}

.form {
    display: flex;
    justify-content: start;
    flex-direction: column;
    align-items: center;
}

.container-Flex {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



.button {
    align-items: center;
    margin: 16px;
}

.label {
    margin-top: 16px;
}

.homepage-header {
    position: fixed;
    top: 0;

    display: flex;
    justify-content: space-between;
    align-items: center;

    height: 36px;
    width: 100%;
    background-color: rgb(44, 149, 137);
}

#username-header-span {
    color: rgb(255, 255, 255);
    font-size: 13px;
    padding-right: 16px;
}

.header-icons {
    font-size: 26px;
    color: white;
}

.contextual-menu {
    position: fixed;
    top: 36px;
    right: 30;
    padding-bottom: 30px;
    background-color: rgb(44, 149, 137);


    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.contextual-menu-element {
    font-size: 30px;
    color: white;
}

.task-container {
    display: flex;

    margin: 2px solid black;
}