/* resets */

html, body {
    height: 100%;
}

body {
    margin: 0;
}

/* layout - BEM */

.container { /* block */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: .5rem;
}

.container__item--left { /* block__element--modifier */
    align-self: start;
}

.container__item--right { /* block__element--modifier */
    align-self: end;
}

.header {
    background-color: blue;
    position: fixed;
    top: 0;
    width: 100%;
    
}
.header_menu {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    
}

.header {
    position: fixed;
    top: 30px;
    display: flex
    flex 
}