/* -----------------SETUP AND RESETS----------------------*/
* {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
}

body,
h1,
h3,
h4,
h5,
h6 {
    margin: 0%;
}
.divBeforeHeader{
    height: 5%;
    width: 100%;
    background-color: white;
    z-index: 100;
    position: fixed;
    top: 0;
    border-bottom: 2px solid green;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
span{
    margin: 0.8rem;
}
/*----------------------DIRECT STYLES--------------------------*/
h2 {
    color: white;
}

h3 {
    font-size: 22px;
    align-self: center;
}

.button {
    background-color: linear;
    border-radius: 50%;
    background: linear-gradient(to left, #ffc800, #aa00ff);
    color: white;
    border: 3px solid white;
    width: 6.25rem;
    height: 1.875rem;
}

/*-----------------------STYLES PREFAB------------------------*/
.nav-items {
    justify-content: space-between;
    align-items: center;
}
.center-items{
    justify-content: center;
    align-items: center;
}
.position-center{
    position: relative;
    left: 50%;
    right:50%;
}
.right-items {
    justify-content: flex-end;
    align-items: center;
}

.all-center{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.justify-content-center{
    display: flex;
    justify-content: center;
}
.apply-position-top {
    position: fixed;
    top: 0%;
    left: 0%;
    right: 0%;
    bottom: 95%;
    background-color: white;
}

.apply-position-open{
    position: fixed;
    top: 5%;
    left: 0%;
    right: 0%;
    bottom: 80%;
    background-color: white;
    z-index: 0;
}

.flex {
    display: flex;
}

.display-screen{
    background-color: white;
    height: 70%;
    width: 50%;
}

.display-screen-home{
    background: linear-gradient(to right, rgb(0, 221, 255), rgba(255, 136, 0, 0.915));
    height: 72%;
    width: 75%;
    border-radius: 1%;
}

.containerPanel{
    width: 100%;
    height: 90%;
    position: relative;
    display: flex;
    border-radius: 3%;
    justify-content: center;
}

.container-task{
    margin: 0.2rem;
    border: 5px solid black;
    background-color: rgb(255, 252, 252);   
    width: 30%;
    height: 92%;
    display: block;
}

.container-task-title{
    height: 7%;
    width: 100%;
}
