* {
    margin: 0;
}

body , html {
  height: 100%;
  background-image: linear-gradient(to bottom right, purple, green);
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.9rem;
  background-color: white;

}

.form {
  border-radius: 10px;
  padding: 2%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
}

h1 {
  font-family: monospace;
}

.input {
  background-color: gainsboro;
  border-style: none;
  height: 2.2rem;
  width: 15rem;
  border-radius: 5px;
}

.button {
  margin-top: 3rem;
  background-color: green;
  border-style: none;
  height: 2.2rem;
  width: 15rem;
  border-radius: 7px;
  color: white;
}

#ch1 {
  margin-top: 30px;
}

.enlace {
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-self: flex-end;
  color: white;
}

.header {
    display: flex;
    background-color: white;
    height: 50px;
    justify-content: space-between;
    align-items: center;
}

.menu {
    border: none;
    background-color: transparent;
    
}

