html, body {
    height: 100vh;
    margin: 0% ;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
}
.ajedrez{
    display: grid;
    border: 5px solid black;
    grid-template-columns: repeat(8, 1fr);
	grid-template-rows: repeat(8, 1fr);
    width: 500px;
    height: 500px;

}
.black{
    background-color: black;
    }

.white{
    background-color: whitesmoke;
}