* {
    box-sizing: border-box;
}

html,
body {
    height: 80%;
    display: flex;
    margin: 10%;
    justify-content: center;
}

.container {
    height: 100vw;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: centre;
    margin-top: 40px;

}

.tools { 
    width: 65vw;
    height: 65vw;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 1fr);
    /*gap: 2% */
    background-color: transparent ;
    padding: .5%;
}

.tools__item1:nth-child(even) {
    background-color: blueviolet;
    border: 1px solid color black;
}