/* resets */

* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    margin: 0;
}



/* layout - BEM */

.container { /* block */
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    justify-content: center;
    gap: .5rem;
    /* background: linear-gradient(right, blue, white); */
    /* background: -pref rgba(188, 209, 94, 0.841); */
    border-radius: 2px;
    font-family: 'Franklin Gothic Medium';
    
}
.containerbody {
   /* background-color: rgba(228, 226, 124, 0.875); */
    background: linear-gradient(to top, white, blue);
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    justify-content: center;
    gap: .5rem;
}

.container__item--left { /* block__element--modifier */
    align-self: start;
}

.container__item--right { /* block__element--modifier */
    align-self: end;
}

header {
    background-color: blue;
    position: fixed;
    width: 100%;
    top: 0;
    height: 30px;
    box-shadow: 0 1px 5px 0 rgba(50, 0, 180, 0.5);
    display: flex;
    gap: 15px;