/* Reset */
* {
    box-sizing: border-box;
  }

  html{
    height: 100%;
  }

  /* Style the body */
  body {
    height: 100%;
    margin: 0;
  }

  /* Style the container */

  .flex-container{
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
}

  .grid-container{
    display: grid;
    text-align: center;
    height: 50vw;
    width: 50vw;
    grid-template-areas: 
    "a a b b b b"
    "a a b b b b"
    "a a b b b b"
    "c c b b b b"
    "c c b b b b"
    "d d e e e f";
    background-color: black;
    gap: 2%;
    padding: 1%;
  }

  .grid-container__item1{
    grid-area: a;
    background-color: yellow;
  }

  .grid-container__item2{
    grid-area: b;
    background-color: red;
  }

  .grid-container__item3{
    grid-area: c;
    background-color: white;
  }

  .grid-container__item4{
    grid-area: d;
    background-color: blue;
  }

  .grid-container__item5{
    grid-area: e;
    background-color: white;
  }

  .grid-container__item6{
    grid-area: f;
    background-color: white;
  }

  /* box-shadow:0px 0px 0px 10px black inset; | 2nda alternativa */

