/*!Reset*/

html ,body {
    height: 100%;
    
}
body{
    margin: 0;
}

/**Layaout*/
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-self: center;
    gap: 10px;
    

}


/*!Register and Loging*/

.container__item--left{
    align-self:flex-start ;

}

.container__field{
    border-color: transparent;
    text-align: center;
}
.container__legend{
    text-transform: uppercase;
    color:#1e414b ;
    padding: 10px;
    font-weight: 900;
    font-size: larger;
}
.container__bg{
    border-radius: 5px;
    background-color:#2a9d8f;
    box-shadow: 10px 10px 5px 0px rgba(162,210,255,0.75);
    -webkit-box-shadow: 10px 10px 5px 0px rgba(162,210,255,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(162,210,255,0.75);
}
button {
    background-color: transparent;
    border: none;
  }

.btn {
    text-transform: uppercase;
    letter-spacing:3px;
    width: 100%;
    border:none;
    background-color: #001219;
    color: white;
    font-weight: 900;
    padding: 10px;
    border-radius: 5px;
   
}
.btn:hover{
    background-color:#e63946;
    color:#1d3557;
}

a:link{
    color: white;
    font-weight: bolder;
    display: block;
    text-transform: uppercase;
    margin-top: 20px;
    text-decoration: none;
    padding: 2px;
    background-color: #0f3643;
    border-radius: 5px;  
    text-align: center;    
    
}



/*! Home */

.header {
    /** External */
    position: fixed;
    top: 0;
    width: 100%;
    height: 30px;
    box-shadow: 0 0 5px 0 rgba(50, 0, 180, 0.5);
  
    /** Internal */
    background-color: blue;
    display: flex;
    align-items: center;
    gap: 15px;
  }
  
  .header__menu {
    /**External behavior*/
  
    position: fixed;
    top: 30px;
    height: 60px;
    box-shadow: 0 1px 5px 0 rgba(50, 0, 180, 0.5);
  
    /** Internal behavior - Children */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    background-color: inherit;
  }
  
  .header__title {
    font-size: 1.5rem;
    color: red;
    text-decoration: underline;
    font-weight: 200;
 }
  
/*? Flex   
  flex
  flex-direction
  align-items
  justify-content
  gap
  flex-reverse
  order
  flex-wrap
  
  game: flex-box froggy */
  
