/* NORMALIZE */
*{
    box-sizing: border-box;
    margin: 0;
    text-decoration: none;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

a{
    color: inherit;
}

html, body{
    height: 100%;
}

main{
    height: 100%;
}

h1{
    text-align: center;
}

div h1{
    color: rgb(255, 255, 255);
    font-size: 1.2rem;
    font-weight: normal;
    margin-bottom: 1rem;
}

input{
    height: 2.5rem;
    border-color: rgb(215, 215, 215);
    border-width: 0.12rem;
    border-radius: 0.2rem;
    border-style: solid;
    color: rgb(88, 88, 88);
    font-size: medium;
}

form img{
    margin-bottom: 2rem;
    width: 40%;
    height: auto;
    align-self: center;
    
}

.anchor__login{
    margin-top: 1.4rem;
    color: rgb(255, 255, 255);
    font-size: small;
}

.anchor__login:hover{
    background-color: transparent;
    color: rgb(255, 203, 80);
}

.container-flex{
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    background-image: linear-gradient(to bottom right, #026aa7, #004369)
}

/* FORMULARIO */
.form{
    display: flex;
    justify-content: start;
    flex-direction: column;
    width: 23rem;
    gap: 0.2rem;
    padding: 3.5rem 3rem;
    border-radius: 0.2rem;
    background-color: white;
}

.form__img{
    filter: grayscale();
}

.button{
    width: 100%;
    height: 2rem;
    align-self: flex-start;
    margin-top: 0.3rem;
    padding: 0.3rem;
    background-color: rgb(38, 139, 247);
    border-radius: 0.2rem;
    border-style: none;
    color: white;
    font-weight: bold;
}

.button:hover{
    background-color:#0078bd;
    cursor: pointer;
}

.textForm{
    text-align: start;
}

.form a{
    text-align: center;
    padding: 1rem;
}

/* HOME STYLES */

.home__header{
    display: flex;
    z-index: 3;
    align-items: center;
    padding: 0.7rem 1.5rem;
    background-color: #026aa7;
    gap: 0.8rem;
}

.home__header--logo{
    width: 4.9rem;
    height: auto;
}

.home__header--logo:hover{
    filter: invert();
    background-color: transparent;
    cursor: pointer;
}

.home__header__menu-panel--button{
    order: 2;
    background-color: transparent;
    filter: invert();
    margin-left: auto;
    width: 2.5rem;
    height: auto;
}

.home__header__menu-panel--button:hover{
    filter: none;
    background-color: transparent;
    cursor: pointer;
}

.home__menu__panel--container{
    display: flex;
    justify-content: end;
    right: 0;
    position: absolute;
}

.home__menu__panel{
    display: flex;
    flex-direction: column;
    align-items: end;
    z-index: 4;
    background-color: #ffffff;
    box-shadow: 0rem 0.05rem 0.1rem 0 rgb(174, 174, 174);
    align-content: end;
    width: 13rem;
    padding: 1rem 1rem;
    gap: 0.5rem;
    border-radius: 0.1rem;
}

.home__menu__panel--user-name{
    color: rgb(0, 0, 0);
    padding: 0 0 0.3rem 0;
    background-color: transparent;
}

.home__menu__panel--separation{
    width: 100%;
    justify-self: start;
    border-color: #dedede;
    border-style: dashed;
}

.home__menu__panel--text{
    font-size: 1rem;
    color: black;
}

.home__menu__panel--text:hover{
    color: #000000;
    background-color: transparent;
    font-weight: 630;
    cursor: pointer;
}

.home__settings__section{
    display: flex;
    flex-flow: row wrap;
    z-index: 1;
    width: 100%;
    justify-content: center;
}

.home__settings__header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    z-index: 0;
    padding: 2rem;
    background-color: #f4f5f7;
    border-width: 0.1rem;
    border-color: #dfe1e6;
    border-style: solid;
    width: 100%;
    height: 8rem;
}

.home__settings--title{
    align-self: center;
    font-weight: 300;
    font-size: 2.1rem;
    color: black;

}

.home__settings--second-title{
    align-self: center;
    font-weight: 400;
    font-size: 1rem;
    color: black;

}

.home__settings__form{
    display: flex;
    justify-content: start;
    flex-direction: column;
    width: 23rem;
    gap: 0.2rem;
    padding: 3.5rem 3rem;
}

.home__settings__form--title{
    margin-bottom: 1rem;
    margin-top: 0.5rem;
    margin-left: -1.25rem;

}

.edit__name__button{
    align-self: flex-start;
    transform: scale(1.2);
    padding: 0.51rem;
    background-color: rgb(38, 139, 247);
    border-radius: 0.2rem;
    color: white;
    margin: 0.24rem 0.45rem;
    cursor: pointer;
    border-style: none;
}

.edit__name__button:hover{
    background-color: #026aa7;

}

.update__name__button{
    align-self: flex-start;
    transform: scale(1.2);
    padding: 0.51rem;
    background-color: rgb(38, 139, 247);
    border-radius: 0.2rem;
    color: white;
    margin: 0.24rem 0.1rem;
    cursor: pointer;
    border-style: none;
}

.update__name__button:hover{
    background-color: #026aa7;

}


.update__settings__form{
    display: flex;
    width: 100%;
    justify-content: center;
}

.update__settings__form input{
    padding: 0.2rem 2.75rem 0.2rem 0.2rem;
}

.form__checkbox--text{
    font-size: 0.78rem;
    margin: 0.75rem 0.5rem;
}

.form__checkbox__container{
    display: flex;
}

.form__update__checkbox__container{
    display: flex;
    margin-left: -1.2rem;
    left:0;
    
}

.home__main{
    display: flex;
    flex-direction: column;
    align-content: center;
    align-self: center;
    z-index: 1;
}

.tasks__panel__content{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: 1rem 1rem;
    gap: 0rem 1rem;
}

.tasks__panel__content__column{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ffffff;
    padding: 1rem 1rem 1rem 1rem;
    width: 20rem;
}

.tasks__panel__content__card{
    display: flex;
    justify-self: center;
    border: solid #dfe1e6 0.1rem;
    background-color: #f4f5f7;
    width: 100%;
    padding: 1rem;
    font-size: 1rem;
}

.tasks__panel__add-button{
    align-self: center;
    transform: scale(0.9);
    padding: 0.51rem;
    background-color:  #026aa7;
    border-radius: 0.2rem;
    color: white;
    margin: 1rem 0.1rem;
    cursor: pointer;
    border-style: none;
}
.tasks__panel__add-button:hover{
    background-color: #0083cf;
}

.task__card{
    border: solid #dfe1e6 0.1rem;
    width: 100%;
    padding: 1rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 1rem;
    box-shadow: #d1d1d1 0 0.1rem 0rem 0;
}

.task__card__button-delete{
    align-self: center;
    transform: scale(1);
    padding: 0.51rem;
    border-radius: 0.2rem;
    margin: 0.6rem -14rem -0.5rem  0rem;
    cursor: pointer;
    border-style: none;
}

.task__card__button-delete:hover{
    background-color: #ff4343;
    color: white;
}