/*NORMALIZE*/
*{
    box-sizing:  border-box;;
    margin: 0%;
}

html { 
    height: 100%
}

body{ 
    margin: 0 auto;
    height: 100%;
}

h1{
    text-align: center;
}

.container-flex{ 
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
}

/*FORMULARIO*/

.form{
    display: flex;
    justify-self: start;
    flex-direction: column;
    gap: 0.5rem;

}

.button{ 
    width: 50%;
    align-self: flex-start;
    margin: 10%px;
}

.texForm{
    text-align: start;
}


/* HEADER HOME.HTML */

.header{
    padding: 4rem;
    background-color: aquamarine;
}


/* BARRA DE NAVEGACION */


