/* resets */

html, body {
    height: 100%;
}

body {
    margin: 0;
}

/* layout - BEM */

.container { /* block */

    display: flex; 
    flex-direction: column; 
    align-items: center; 
    justify-content: center;
    gap: .5rem;
    background-color: blanchedalmond;
}

.container__item--left { /* block__element--modifier */
    align-self: start;
}

.container__item--right { /* block__element--modifier */
    align-self: end;
}

button {
    width: 100px;
    height: 20px;
    background-color: rgba(31, 144, 144, 0.822);
}